.container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background: var(--background-page);
}

.container, .response {
	height: 80vh;
}

.response {
	margin-top: 1rem;
}

.container form {
	margin: 2rem 0 2rem 1rem;
}

.container form .label-search {
	display: block;
	font-weight: 600;
	margin: 0 0 10px 0;
	color: var(--text);
}

.container form #username {
	margin-left: 1.4rem;
	padding: 0.4rem 1rem;
  width: 18rem;
	border-radius: 1rem;
	border: 1px solid var(--border);
	outline: none;
}

.container form .search {
	display: flex;
	align-items: center;
}

.container form button[type="submit"] {
	background: transparent;
	border: none;
	margin-left: 10px;
}

.container form button[type="submit"]:hover {
	border: 1px solid var(--text);
    border-radius: 50%;
    padding: 5px 6px 3px 6px;
}

.container form button[type="submit"] img {
	width: 2rem;
	height: 2rem;
}
